body{
  background-color:#2e425d;


}

.logo:before{
  content:"\ebf6";
  font-family:'honeybee';
  color: #546883;
  font-size: 50px;
  text-align: center;

}

h1{
  font-size: 60px;
}

h2{
  font-size: 25px;
}

h3{
  font-size: 40px;

}

h1,h2 {
  color: #546883;
  text-align:center;

}

p {
  font: serif;
  font-family:"Times new roman",Times;
  font-weight: bold;
}



/*.background{
  background: url(https://i.imgur.com/gWlpKHQ.png) no-repeat top center;
  background-attachment:fixed;
  background-size: 100%;
  z-index: 1;
}
.logo:before{
  content:'\ebf6';
  font-family:'honeybee';
  font-size: 60px;
  color: #546883;

}*/
.cadre{
  background-color: rgba(84, 104, 131, 0.5);
  text-align: center;
  color: #2e425d;
}
