body{
  background-color:#2e425d;
}

h1,h2 {
  color: #546883;
  text-align:center;

}

.background{
  background: url(https://i.imgur.com/gWlpKHQ.png) no-repeat top center;

}
.cadre{
  box-sizing: border-box;
  background-color: rgba(84, 104, 131, 0.5);
  text-align: center;
  color: #2e425d;

}
